<h1>Our recipes</h1>



<div class="blocks">

{{#each recipes}}

    <div class = "block">
        <h2>{{name}} </h2>
        <h4>{{description}}</h4>
        <h4><a href="/recipes/{{_id}}">Autres détails ici !</a></h4>
    </div>

{{/each}}

</div>

